.footer {
  width: 100%;
  background: rgb(8 89 175);
  box-sizing: border-box;
  padding-top: 33px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .logo {
  width: 66px;
  height: 66px;
  background: url('../../assets//logo.png') no-repeat;
  background-size: contain;
  margin-bottom: 17px;
}

.footer .title {
  margin-bottom: 33px;
  font-size: 15px;
  color: #FFFFFF;
}

.footer .desc {
  font-size: 9px;
  color: #fff;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 0 13px 0;
}