$--form-label-font-size:14px;
$--tab-font-size:12px;
$--font-size-base:12px;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";